@{
    ViewData["Title"] = "About";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Meow & Woof - Pet Care Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

    <!-- Flaticon Font -->
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/84e176b008.js"
            crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/common/style.css" rel="stylesheet" />
    <link href="/css/pages/navbar.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("Header")
    <!-- About Start -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
                <h4 class="text-secondary mb-3">Về chúng tôi</h4>
                <h1 class="display-4 mb-4">
                    <span class="text-primary">Lưu trú</span> &
                    <span class="text-secondary">Chăm sóc</span>
                </h1>
                <h5 class="text-muted mb-3">
                    Thú cưng hạnh phúc, gia đình an vui!
                </h5>
                <p class="mb-4">
                    Trang web của chúng tôi là nền tảng trung gian kết nối chủ dịch vụ chăm sóc thú cưng và các chủ thú cưng.
                    Đây là nơi lý tưởng để các chủ dịch vụ đăng ký và quảng bá dịch vụ của mình, từ lưu trú, chăm sóc sức khỏe, đến làm đẹp và huấn luyện thú cưng.
                    Các chủ thú cưng có thể dễ dàng tìm kiếm và đặt các dịch vụ phù hợp nhất cho thú cưng của mình, đảm bảo chất lượng và sự tin cậy.
                    Hãy tham gia cùng chúng tôi để mang đến những trải nghiệm tốt nhất cho thú cưng của bạn!
                </p>
                <ul class="list-inline">
                    <li>
                        <h5>
                            <i class="fa fa-check-double text-secondary mr-3"></i>Hàng đầu trong ngành
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <i class="fa fa-check-double text-secondary mr-3"></i>Dịch vụ khẩn cấp
                        </h5>
                    </li>
                    <li>
                        <h5>
                            <i class="fa fa-check-double text-secondary mr-3"></i>Hỗ trợ khách hàng 24/7
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="row px-3">
                    <div class="col-12 p-0">
                        <img class="img-fluid w-100" src="/img/about-1.jpg" alt="" />
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="/img/about-2.jpg" alt="" />
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid w-100" src="/img/about-3.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Features Start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/img/feature.jpg" alt="" />
                </div>
                <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
                    <h4 class="text-secondary mb-3">Tại sao chọn chúng tôi?</h4>
                    <h1 class="display-4 mb-4">
                        <span class="text-primary">Special Care</span> Cho thú cưng
                    </h1>
                    <p class="mb-4">
                        Việc sử dụng dịch vụ cho thú cưng không chỉ giúp đảm bảo sức khỏe và sự phát triển toàn diện cho người bạn bốn chân
                        của bạn mà còn giúp bạn tiết kiệm thời gian và công sức. Các dịch vụ chuyên nghiệp cung cấp từ chăm sóc sức khỏe,
                        làm đẹp, lưu trú đến đào tạo, giúp thú cưng luôn trong tình trạng tốt nhất, khỏe mạnh và hạnh phúc. Đồng thời, việc
                        này cũng giúp xây dựng thói quen tốt và tăng cường mối quan hệ giữa bạn và thú cưng. Hãy để chúng tôi giúp bạn chăm
                        sóc thú cưng một cách tốt nhất!
                    </p>
                    <div class="row py-2">
                        <div class="col-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-cat font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Tốt nhất trong ngành</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-doctor font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Các dịch vụ khẩn cấp</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <h1 class="flaticon-care font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Chăm sóc đặc biệt</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <h1 class="flaticon-dog font-weight-normal text-secondary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Hỗ trợ khách hàng</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    <!-- Team Start -->
    <div class="container mt-5 pt-5 pb-3">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Team Member</h4>
            <h1 class="display-4 m-0">
                Meet Our <span class="text-primary">Team Member</span>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <img class="card-img-top" src="/img/team-1.jpg" alt="" />
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-light">
                            <h5>Mollie Ross</h5>
                            <i>Founder & CEO</i>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <img class="card-img-top" src="/img/team-2.jpg" alt="" />
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-light">
                            <h5>Jennifer Page</h5>
                            <i>Chef Executive</i>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <img class="card-img-top" src="/img/team-3.jpg" alt="" />
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-light">
                            <h5>Kate Glover</h5>
                            <i>Doctor</i>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-4">
                    <img class="card-img-top" src="/img/team-4.jpg" alt="" />
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-light">
                            <h5>Lilly Fry</h5>
                            <i>Trainer</i>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-outline-primary rounded-circle text-center px-0"
                               style="width: 36px; height: 36px"
                               href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    @Html.Partial("Footer")

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>
