@model BusinessObject.ObjectView.ChatSupplier
@{
	ViewData["Title"] = "Shop Detail2";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/admin/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/admin/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/admin/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/admin/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="/admin/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/admin/vendors/styles/style.css">


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body>
	@Html.Partial("SupplierHeader")
	@Html.Partial("SupplierFunction")
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
				</div>
				<div class="bg-white border-radius-4 box-shadow mb-30">
					<div class="row no-gutters">
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="chat-list bg-light-gray">
								<div class="chat-search">
									<span class="ti-search"></span>
									<input type="text" placeholder="Search Contact">
								</div>
								<div class="notification-list chat-notification-list customscroll">
									<ul>
										@foreach(var order in Model.bookingDTOs)
										{
											<li id="order-@order.Bookingid">
												<a href="#">
													<img src="@order.User.Userimage" alt="">
													<h3 class="clearfix">@order.User.Fullname</h3>
													@if(order.Statuspaid == 1)
													{
														<p><i class="fa fa-circle text-light-orange"></i> chưa xác nhận</p>
													}else if(order.Statuspaid == 2)
													{
														<p><i class="fa fa-circle text-warning"></i> đang sử dụng</p>
													}
													else
													{
														<p><i class="fa fa-circle text-light-green"></i> đã hoàn thành</p>
													}
												</a>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="chat-detail">
								<div class="chat-profile-header clearfix">
									<div class="left">
										<div class="clearfix">
											<div class="chat-profile-photo">
												<img src="/admin/vendors/images/profile-photo.jpg" alt="">
											</div>
											<div class="chat-profile-name">
												<h3>Rachel Curtis</h3>
												<span>New York, USA</span>
											</div>
										</div>
									</div>
									<div class="right text-right">
										<div class="dropdown">
											<a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												Setting
											</a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Chấp nhận</a>
												<a class="dropdown-item" href="#">Hủy đơn</a>
												<a class="dropdown-item" href="#">Chi tiết</a>
											</div>
										</div>
									</div>
								</div>
								<div class="chat-box">
									<div class="chat-desc customscroll">
										<ul>
											<li class="clearfix admin_chat">
												<span class="chat-img">
													<img src="/admin/vendors/images/chat-img2.jpg" alt="">
												</span>
												<div class="chat-body clearfix">
													<p>It is to early to provide some kind of estimation here. We need user stories.</p>
													<div class="chat_time">09:40PM</div>
												</div>
											</li>
											<li class="clearfix">
												<span class="chat-img">
													<img src="/admin/vendors/images/chat-img1.jpg" alt="">
												</span>
												<div class="chat-body clearfix">
													<p>We are just writing up the user stories now so will have requirements for you next week. We are just writing up the user stories now so will have requirements for you next week.</p>
													<div class="chat_time">09:40PM</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="chat-footer">
										<div class="file-upload"><a href="#"><i class="fa fa-paperclip"></i></a></div>
										<div class="chat_text_area">
											<textarea placeholder="Type your message…"></textarea>
										</div>
										<div class="chat_send">
											<button class="btn btn-link" type="submit"><i class="icon-copy ion-paper-airplane"></i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="/admin/vendors/scripts/core.js"></script>
	<script src="/admin/vendors/scripts/script.min.js"></script>
	<script src="/admin/vendors/scripts/process.js"></script>
	<script src="/admin/vendors/scripts/layout-settings.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var listItems = document.querySelectorAll("li[id^='order-']");

			listItems.forEach(function (item) {
				item.addEventListener("click", function () {
					// Remove 'active' class from all list items
					listItems.forEach(function (i) {
						i.classList.remove("active");
					});

					// Add 'active' class to the clicked item
					this.classList.add("active");
				});
			});
		});
	</script>
</body>
</html>